<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
        rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://kit.fontawesome.com/2b540771c4.css" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle bg-primary text-white" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Password Category
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/addNewCategory">Add New Category</a>
                            <a class="dropdown-item" href="/password_category">View all Category</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle bg-primary text-white" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Password Details
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/addNewPassword">Add New Password</a>
                            <a class="dropdown-item" href="/viewAllPassword">View All Password</a>
                        </div>
                    </div>
                </li>

            </ul>
            <div style="letter-spacing: nowrap; float: right;">
                <h5><a href="">Logged in As : <% if(loginUser){%>
                            <%= loginUser %>
                                <% } %></a></h5>
                <a href="/logout" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </nav>
    <h1>
        View Password List
    </h1>
    <p>Welcome to <%= title %>
    </p>



    <table class="table">
        <thead>

            <tr>
                <th>Password Category Name</th>
                <th>Password Detail</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            <% if(records.length> 0) {
                records.forEach(function(row){
                %>
                <tr>

                    <td>
                        <%= row.password_category %>
                    </td>
                    <td>
                        <%= row.password_Details %>
                    </td>

                    <td>
                        <a class="btn btn-primary btn-xs" href="/viewAllPassword/edit/"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-danger btn-xs" href="/viewAllPassword/delete/"><i
                                class="fas fa-trash"></i></a>
                    </td>
                </tr>
                <% }) } %>
        </tbody>
    </table>
    <h5>if you want <a href="/addNewPassword">add new one</a></h5>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/2b540771c4.js" crossorigin="anonymous"></script>

</body>

</html>